.box_new{ width: 47%; float: left; padding: 10px;}
.box_new img{ width: 150px; border:1px solid #ccc; padding:2px; float: left; margin:5px 10px 0px 0px;}
.box_new h3{margin-top:5px !important;}
.box_new h3 a {
    color:#333;
    font-family: 'Roboto-Bold';
    font-size:14px;
    text-transform: uppercase;display: block;
}
.box_new p{ font-size: 12px; color: #333;} 
.box_new:nth-child(2n+1){ clear: left;}
.box_new:hover h3 a{color: #000} 
.content_new{ overflow:hidden; height: 400px; width: 100%; float: left;}
.ngaydang{ font-style: italic; color: #9A9A9A; font-size: 12px; margin: 5px 0; display: inline-block;}

/*product detail*/
.item_detail{padding: 10px 0px;border-bottom:1px dashed #cdcdcd;    }
.bottom_detail{margin-top: 20px;}
.info_detail{box-sizing:border-box;}
.item_info_detail{font-size: 13px;line-height: 20px;padding: 10px 0px;border-bottom: 1px solid #eee;}
.item_info_detail.name_detail h1{font-size: 25px;font-weight:600;color: #333;line-height: 25px;}
.item_info_detail span.price_now{font-size:24px;color:#f00;display: block;font-family: 'Roboto-Bold';float: left;}
.item_info_detail .price_old{font-family: 'Roboto-Regular';font-size:15px;color:#000;text-decoration: line-through;display: block;float: left;padding:0px 10px;}

.item_tab{
    text-decoration: none;
    float:left;
    color:#000;
    background:#ebebeb;
    padding:12px 20px;
    margin-right:5px;
    cursor:pointer;
    border:1px solid #EEEEEE;
    border-bottom:none;
    font-weight:bold;
    font-size:13px;
    display: inline-block;
}
.item_tab:hover,.item_tab.active{
    display: inline-block;
    background:#fff;
    color:#333;
}
.contain_content_tab{
    border:1px solid #e0e0e0;
    padding:10px;
    background:#fff;margin-top: -1px;
}
.content_tab{display: none;}
.content_tab.active{display: block;}

.amount_cart button{float: left;width:35px;height:30px;border:1px solid #eee;background:#fff;outline: none;color:#6d6d6d;}
.amount{height:30px;width:50px;float: left;border:1px solid #eee;text-align: center;margin:0px 3px;outline: none}
.item_info_detail .btn{text-transform: uppercase;font-size:14px;font-family: 'Roboto-Bold'}
.amount {height: 30px;width: 50px;float: left;border: 1px solid #eee;text-align: center;margin: 0px 3px;outline: none;}
.btn_Cart_Detail{width:200px;color:#fff;height: 44px;display:inline-block;line-height:44px;text-align: center;cursor:pointer;font-family: 'Roboto-Regular';
font-size: 17px;margin-right:5px;}
.buy-now{background:#ffb916;}
.buy-now:hover{background:#e59b11;color:#fff;}
.buy-to-cart{background:#f57224;}
.buy-to-cart:hover{background:#d0611e;color:#fff;}

.title_main{margin:20px 0;text-align: center;}
.title_main span{color:#000;font-weight:normal;text-transform:uppercase; display:block;line-height:40px;font-size:22px;font-family: 'Roboto-Bold';position: relative;}

.contain_map_lienhe iframe{width:100% !important;height:450px !important;display: block;}
.img_detail{padding:0;}
.sub_left{margin-bottom:40px;}